<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

    <title>Autistica</title>
</head>

<body>

    <div class="bg">
        <div class="d-flex justify-content-center">
            <div class="col-sm-10">
                <nav class="navbar navbar-fixed-top">
                    <div class="navbar-header">
                        <h2 class="navbar-brand" href="#">Settings</h2>
                </nav>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="col-sm-10">
                    <div class="card border-info ">
                        <div class="card-body">
                            <h4 class="card-title">Customisation</h4>
                            <div class="quiz1 card-text">
                                <div>Choose the feedback type. </div>
                                <span>
                                    <a href="#" class="btn btn-outline-info setbtn">Audio</a>
                                </span>
                                <span>
                                    <a href="#" class="btn btn-outline-info setbtn">Visual</a>
                                </span>
                                <span>
                                    <a href="#" class="btn btn-outline-info setbtn">Physical*</a>
                                </span>
                                </br>
                                <div>*Only on devices that support vibration in a compatible browser.</div>
                            </div>
                            <div class="quiz1 card-text">
                                <div>Choose the background colour. </div>
                                <span>
                                    <button type="button" id="blue" class="btn btn-outline-info setbtn">Blue</button>
                                </span>
                                <span>
                                    <button type="button" id="green" class="btn btn-outline-info setbtn">Green</button>
                                </span>
                                <span>
                                    <button type="button" id="red" class="btn btn-outline-info setbtn">Red</button>
                                </span>
                                <span>
                                    <button type="button" id="grey" class="btn btn-outline-info setbtn">Grey</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center question" id="q">
                    <div class="col-sm-10">
                        <div class="card ">
                            <div class="card-body">
                                <h4 class="card-title">Dashboard</h4>
                                <div class="quiz-intro">
                                    <div class="card-subtitle"></div>
                                </div>
                                <a href="/" class="btn btn-outline-info endbtn ">Back to Dashboard</a>
    
                            </div>
                        </div>
                    </div>
                </div>
    



        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

        <script>
            $(document).on("click", "#blue", function () {
                var $current = $('.bg');
                $current.css("background-image", 'url("../images/blue.png")')
                var cssprop = { 'bgimg' : { 'backgroundimage': 'url("../images/blue.png")'}}
                localStorage.setItem("personalize", JSON.stringify(cssprop));
            });
            $(document).on("click", "#green", function () {
                var $current = $('.bg');
                $current.css("background-image", 'url("../images/green.png")')
                var cssprop = { 'bgimg' : { 'backgroundimage': 'url("../images/green.png")'}}
                localStorage.setItem("personalize", JSON.stringify(cssprop));                
            });
            $(document).on("click", "#grey", function () {
                var $current = $('.bg');
                $current.css("background-image", 'url("../images/grey.png")')
                var cssprop = { 'bgimg' : { 'backgroundimage': 'url("../images/grey.png")'}}
                localStorage.setItem("personalize", JSON.stringify(cssprop));                
            });
            $(document).on("click", "#red", function () {
                var $current = $('.bg');
                $current.css("background-image", 'url("../images/red.png")')
                var cssprop = { 'bgimg' : { 'backgroundimage': 'url("../images/red.png")'}}
                localStorage.setItem("personalize", JSON.stringify(cssprop));                
            });
            window.onload = function (e) {
                console.log("window.onload");
                if (localStorage.getItem("personalize") != null) {
                    var personalize = localStorage.getItem("personalize");
                    var cssprop = JSON.parse(personalize);
                    console.log(cssprop)
                    $('.bg').css('background-image', cssprop.bgimg.backgroundimage)
                }
            }
        </script>
</body>

</html>