body, html {
  height: 100%;
}

.bg { 
  background-image: url("../images/background.png");
  min-height: 100%; 
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}

#xp_bar-info {
  margin-bottom: 1em;
}

#xp_bar-progbar {
  margin-bottom: 1em;
}

#achieve_bar-info {
  margin-bottom: 1em;
}

.d-flex {
  padding: 2em;
}

.navbar{
  padding-left: 0px;
}

.navbar-brand {
  font-size: 4em;  
}

#floating-button {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: transparent;
  position: fixed;
  bottom: 85px;
  right: 85px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgb(223, 212, 212);
}

#container-floating {
  position: fixed;
  width: 70px;
  height: 115px;
  bottom: 400px;
  right: 280px;
  z-index: 50px;
}