body, html {
  height: 100%;
}

.bg { 
  background-image: url("../images/background.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#xp_bar-info {
  margin-bottom: 1em;
}

#xp_bar-progbar {
  margin-bottom: 1em;
}

#achieve_bar-info {
  margin-bottom: 1em;
}